@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
/* CSS Code */

body {
    padding: 20px;
    background: dimgrey;
    color: whitesmoke;
    text-align: center;
    font-family: 'Jost', sans-serif;
}

h1 {
  font-size: xx-large;
}

p {
  font-size: large;
}

a {
  text-decoration: none;
  font-size: large;
  color: whitesmoke;
}

.profile-image {
  width: 50%;
  border-radius: 50%;
}

.btn {
  display: block;
  color: black;
  padding: 20px;
  background: darkgrey;
  margin: 16px;
  box-shadow: 10px 10px lightblue;
}
